/*
#custom-bootstrap-menu.navbar-default .navbar-brand {
   
    color:#DCDCDC;
}



#custom-bootstrap-menu.navbar-default {
  min-height: 75px;
  font-size: 20px;
  border:none;
    background-color:#2a2f23;/
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
   
    color:#DCDCDC;
   
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    
    color:#9e0012;
   
    
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color:#ffffff;
    background-color: rgba(231, 231, 231, 0.03);
   
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #474747;
}
*/

/*
body{
 background-color: #DCDCDC;
}
*/
/*
.header1{
 background-image: linear-gradient(-40deg, #9d261d, #99251c);
 height: 50%;
 text-shadow: 2px 2px 2px #333333;
}
.header2{
 background-color: #DCDCDC;
 height: 50%;
 color: #9e0012;
}
*/


.container1 {
    width: 100%;
    height: 100vh;/*vh;  */
    /*top: 75px;*/
    
   /* background-color: #282828;*/
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://placeimg.com/1000/480/nature);*/
    background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../img/chios2-superJumbo.jpg);*/

    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../img/the-beautiful-shining-stars-in-the-night-sky.jpg);*/

    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: left;
    color:#9e0012;    
    /*margin-top: 75px;*/
    
}



.container2 {
    width: 100%;
    height: 100%;
    /*top: 75px;*/
    bottom: 0;
    background-color: #f1ebfa;    

}
.container3 {
    width: 100%;    
    height: 100%;
    top: 0;
    bottom: 0; 
     font-family: 'Playfair Display', serif;
    font-size: 25px;
    text-align: left;
    color:#9e0012;   
}

.container4 {
    width: 100%;
    height: 100vh;/*vh;  */
    /*top: 75px;*/
    background-color: #282828;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: left;
    color:#9e0012;    
    /*margin-top: 75px;*/
    
}

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
*/

.formacao1{
  background-image: linear-gradient(-40deg, #9d261d, #99251c);
  height: 50%;
  padding-top: 100px;
  
  line-height: 1.6;
}

.formacao2{
  background-image: #DCDCDC;
  height: 50%;
  
    line-height: 1.6;
}

.formacaoBorda{
  border-left: solid;
  border-color: #333111;
  border-left-width: 0.5px;
    height: 100%;
  font-family: 'Playfair Display', serif;

}

.titulo2{
  font-size: 25px;
  text-align: center;
  color:#333111;
  font-weight: bold;
  font-family: 'Playfair Display', serif;


 
}
.texto2{
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color:#333111;

  font-family: 'Playfair Display', serif;
   
 
}
.texto3{
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  color:#333111;
  padding-top: 0px;
  font-family: 'Playfair Display', serif;
  
}


/*formacao*/

.titulof{
  font-size: 25px;
  text-align: center;
  color:#9d261d;/*#333111*/;
  font-weight: bold; 
  line-height: 1.6;
  font-family: 'Playfair Display', serif;
  padding-bottom: 70px;
}

.titulo2f{
  font-size: 20px;
  text-align: left;
  color:#9d261d;
  font-weight: bold;
  line-height: 1.6;
  font-family: 'Playfair Display', serif;

 

}

.sub_titulo2f{
  font-size: 20px;
  text-align: left;
  color:#333111;
  font-weight: bold;
   line-height: 1.6;
}




.texto2f{
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  color:#333111;
 
  line-height: 1.6;
  /*border-bottom-width: 1px;
  border-bottom-style: solid;*/
}
.texto3f{
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  color:#333111;
  line-height: 1.6;
 
  font-family: 'Playfair Display', serif;
}


.special-card {
/* create a custom class so you 
   do not run into specificity issues 
   against bootstraps styles
   which tends to work better than using !important 
   (future you will thank you later)*/

  background-color: rgba(245, 245, 245, 1);
  opacity: .0;
}

ol.carousel-indicators {
   position: absolute;
   bottom: 5px;
   margin: 0;
   left: 0;
   right: 0;
   width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
   width: 1rem;
   height: 1rem;
   margin: 0;
   border-radius: 50%;
   border: 0;
   background: transparent;
}

ol.carousel-indicators li {
   background: rgba(255,255,255,0.39);
   margin-left: .5rem;
   margin-right: .5rem;
   background: gray;
}

ol.carousel-indicators li.active {
   background: yellow;
}


/*image hover efect*/
.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    position:relative;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}
  
.img-hover:hover:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    
  
}
  
.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%); 
}






/*transparent navbar*/

.navbar-inner {
    background:transparent;
}
﻿
.navbar.a{
  color:#9d261d;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}
/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link {
    color: #9d261d;

}

.navbar .active {
   background:#4FA9DC; color:#000;
}
/*transparent navbar*/



.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:25px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:25px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:60px;
  height:60px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);

  color:#fff;
  opacity:0.75;
  padding: 5px;
}



.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}




/*social media icons*/

#social-in:hover {
  color: #4E433C;
}


.footer_height {
  height: 85vh;
}


